<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>

<div th:replace="fragments.html :: study-banner"></div>

<div class="container">
  <div th:replace="fragments.html :: study-info"></div>
  <div th:replace="fragments.html :: study-menu (studyMenu='settings')"></div>
  <div class="row mt-3 justify-content-center">
      <div class="col-2">
          <div th:replace="fragments.html :: study-settings-menu (currentMenu='banner')"></div>
      </div>
      <div class="col-8">
          <div th:replace="fragments.html :: message"></div>
          <div class="row">
              <h2 class="col-sm-12">배너 이미지를 사용할 것인지 선택하세요🎈</h2>
          </div>
          <form th:if="${!study.useBanner}" action="#" th:action="@{'/study/' + ${study.path} + '/settings/banner/enable'}" method="post" novalidate>
              <div class="alert alert-primary" role="alert">
                  스터디 메뉴에서 스터디 배너 이미지를 사용합니다. 스터디 배너 이미지를 아직 설정하지 않았다면, 기본 배너 이미지를 사용합니다.
              </div>
              <div class="form-group">
                  <button class="btn btn-outline-primary btn-black" type="submit" aria-describedby="submitHelp">✔ 배너 이미지 사용하기</button>
              </div>
          </form>
          <form th:if="${study.useBanner}" action="#" th:action="@{'/study/' + ${study.path} + '/settings/banner/disable'}" method="post" novalidate>
              <div class="alert alert-primary" role="alert">
                  스터디 메뉴에서 스터디 배너 이미지를 사용하지 않습니다. 스터디 목록에서는 배너 이미지를 사용합니다.
              </div>
              <div class="form-group">
                  <button class="btn btn-outline-primary btn-black" type="submit" aria-describedby="submitHelp">❌ 배너 이미지 사용하지 않기</button>
              </div>
          </form>
          <hr/>
          <div class="row">
              <h2 class="col-sm-12">배너 이미지 변경하기</h2>
          </div>
          <form id="imageForm" action="#" th:action="@{'/study/'+${study.path}+ '/settings/banner'}" method="post" novalidate>
              <div class="form-group">
                  <input id="studyImage" type="hidden" name="image" class="form-control"/>
              </div>
          </form>
          <div class="card text-center">
              <div id="current-study-image" class="mt-3">
                  <img class="rounded" th:src="${study.image}" width="640" alt="name" th:alt="${study.title}"/>
              </div>
              <div id="new-study-image" class="mt-3"></div>
              <div class="card-body">
                  <div class="custom-file">
                      <input type="file" class="custom-file-input" id="study-image-file">
                      <label class="custom-file-label" for="study-image-file">스터디 이미지 변경</label>
                  </div>
                  <div id="new-study-image-control" class="mt-3">
                      <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                      <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                      <button class="btn btn-primary btn-block" id="save-button">저장</button>
                      <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                  </div>
                  <div id="cropped-new-study-image" class="mt-3"></div>
              </div>
          </div>
      </div>
  </div>
  <div th:replace="fragments.html :: footer"></div>
</div>

<script type="application/javascript">
  $(function(){
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
<link  href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet">
<script src="/node_modules/cropper/dist/cropper.min.js"></script>
<script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
<script type="application/javascript">
    $(function() {
        cropper = '';
        let $confirmBtn = $("#confirm-button");
        let $resetBtn = $("#reset-button");
        let $cutBtn = $("#cut-button");
        let $saveBtn = $("#save-button");
        let $newStudyImage = $("#new-study-image");
        let $currentStudyImage = $("#current-study-image");
        let $resultImage = $("#cropped-new-study-image");
        let $studyImage = $("#studyImage");

        $newStudyImage.hide();
        $cutBtn.hide();
        $resetBtn.hide();
        $confirmBtn.hide();
        $saveBtn.hide();

        $("#study-image-file").change(function(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if (!e.target.result.startsWith("data:image")) {
                            alert("이미지 파일을 선택하세요.");
                            return;
                        }

                        let img = document.createElement("img");
                        img.id = 'new-study';
                        img.src = e.target.result;
                        img.setAttribute('width', '100%');

                        $newStudyImage.html(img);
                        $newStudyImage.show();
                        $currentStudyImage.hide();

                        let $newImage = $(img);
                        $newImage.cropper({aspectRatio: 13/2});
                        cropper = $newImage.data('cropper');

                        $cutBtn.show();
                        $confirmBtn.hide();
                        $resetBtn.show();
                    }
                };

                reader.readAsDataURL(e.target.files[0]);
            }
        });

        $resetBtn.click(function() {
            $currentStudyImage.show();
            $newStudyImage.hide();
            $resultImage.hide();
            $resetBtn.hide();
            $cutBtn.hide();
            $confirmBtn.hide();
            $saveBtn.hide();
            $studyImage.val('');
        });

        $cutBtn.click(function () {
            let dataUrl = cropper.getCroppedCanvas().toDataURL();

            if (dataUrl.length > 1000 * 1024) {
                alert("이미지 파일이 너무 큽니다. 1024000 보다 작은 파일을 사용하세요. 현재 이미지 사이즈 " + dataUrl.length);
                return;
            }

            let newImage = document.createElement("img");
            newImage.id = "cropped-new-study-image";
            newImage.src = dataUrl;
            newImage.width = 640;
            $resultImage.html(newImage);
            $resultImage.show();
            $confirmBtn.show();

            $confirmBtn.click(function () {
                $newStudyImage.html(newImage);
                $cutBtn.hide();
                $confirmBtn.hide();
                $studyImage.val(dataUrl);
                $saveBtn.show();
            });
        });

        $saveBtn.click(function() {
            $("#imageForm").submit();
        })
    });
</script>
</body>
</html>